@font-face {
    font-family: 'Rayton Brink';
    src: url('https://raw.githubusercontent.com/caridade1706/ACAREG/main/Rayton/RaytonBrinkRegular.eot');
    src: url('https://raw.githubusercontent.com/caridade1706/ACAREG/main/Rayton/RaytonBrinkRegular.eot?#iefix') format('embedded-opentype'),
         url('https://raw.githubusercontent.com/caridade1706/ACAREG/main/Rayton/RaytonBrinkRegular.woff2') format('woff2'),
         url('https://raw.githubusercontent.com/caridade1706/ACAREG/main/Rayton/RaytonBrinkRegular.woff') format('woff'),
         url('https://raw.githubusercontent.com/caridade1706/ACAREG/main/Rayton/RaytonBrinkRegular.svg#RaytonBrinkRegular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}
