@font-face {
    font-family: 'Sardin';
    src: url('https://caridade1706.github.io/ACAREG/Sardin/SardinRegular.eot');
    src: url('https://caridade1706.github.io/ACAREG/Sardin/SardinRegular.eot?#iefix') format('embedded-opentype'),
         url('https://caridade1706.github.io/ACAREG/Sardin/SardinRegular.woff2') format('woff2'),
         url('https://caridade1706.github.io/ACAREG/Sardin/SardinRegular.woff') format('woff'),
         url('https://caridade1706.github.io/ACAREG/Sardin/SardinRegular.svg#SardinRegular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}